:root {
    --primary-color: #050505;
    --secondary-clor: #f4a261;
    --accent1-color:#264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    background-color:var(--accent1-color);
}

header img {
    width: 150px;
    height: auto;
    justify-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: bold;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin: 20px 0;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.7);
    color: white;
    margin: 0;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left:20px;
    right:20px;
    background-color: rgb(0 0 0 /50%);
    color:white;
}



.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

.gallery {
    display: flex; /* Requirement 8 */
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.gallery figure {
    margin: 0;
    flex: 1;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid var(--accent1-color);
}

/* --- Footer --- */
footer {
    max-width: 960px;
    margin: 20px auto 0;
    display: flex; /* Requirement 9 */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 32px;
    height: auto;
}