:root {
    --primary-color: #050505;
    --secondary-color: #f4a261;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.7);
    color: white;
    margin: 0;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left:20px;
    right:20px;
    background-color: rgb(0 0 0 /50%);
    color:white;
}



.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

footer{
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}