* {
    margin:0;
    padding:0;
}

body{
    font-family:Arial,sans-serif;
    line-height:1.6;   
}

header, footer {
    background-color:#333333;
    color: #ffffff;
    padding:10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2{
    border-bottom: 1px solid #333;
}

img {
    width:100%;
    height:auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin:20px 0;
    border:1px solid #333 rgb(0 0 0 /10%);
    padding:10px;
    background-color: #abe;
    font-size: 0.9rem;
}

section p {
    margin:10px;
}

ul{
    margin:10px 20px;
}

footer {
    font-size: 0.9rem;  
}